<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div th:fragment="navbar">
      <nav
        class="navbar navbar-expand-lg"
        style="background-color: #007bff; color: white"
      >
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <a
            class="navbar-brand"
            style="color: white; font-weight: bold"
            th:href="@{/home}"
          >
            <img
              th:src="@{/images/front-end.png}"
              width="30"
              height="35"
              alt="logo"
            />
            SIBKM FSD
          </a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link"
                  aria-current="page"
                  style="color: white"
                  th:href="@{/home}"
                  th:classappend="${isActive} == 'home' ? 'active fw-bold' : ''"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link link-opacity-100-hover"
                  style="color: white"
                  th:href="@{/region}"
                  th:classappend="${isActive} == 'region' ? 'active fw-bold' : ''"
                  >
                  <i class="fas fa-globe"></i>
                  Region</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  style="color: white"
                  th:href="@{/country}"
                  th:classappend="${isActive} == 'country' ? 'active fw-bold' : ''"
                  > <i class="fas fa-city"></i>
                  Country</a
                >
              </li>
            </ul>
            <form class="d-flex">
              <button 
                onclick="handleLogout()"
                class="btn btn-danger" 
                type="button" 
                style="color: white">
                <i class="fas fa-sign-out-alt"></i>
                Logout
              </button>
            </form>
          </div>
        </div>
      </nav>

      <!--Logika Logout dengan SweetAlert-->
      <script th:inline="javascript">
        function handleLogout() {
            Swal.fire({
                title: 'Logout',
                text: "Apakah anda yakin ingin keluar?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Ya',
                cancelButtonText: 'Tidak'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Berhasil Logout!',
                        text: 'Anda akan dialihkan ke halaman login',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() => {
                        window.location.href = /*[[@{/login}]]*/ '/login';
                    });
                }
            });
        }
    </script>
      
    </div>
  </body>
</html>