<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/auth}"
>
  <head>
    <title>Registration - SIBKM FSD 07</title>
  </head>
  <body>
    <!-- content -->
    <div layout:fragment="content">
      <!-- btn back to welcome-->
      <div class="btn-back-container">
        <a th:href="@{/}" class="btn btn-back">
          <i class="fas fa-arrow-left"></i> Back
        </a>
      </div>
      <div class="login-page">
        <div class="login-container">
          <div class="row justify-content-center">
            <div class="col-11 col-md-4">
              <div class="login-card">
                <div class="login-header">
                  <img
                    th:src="@{/images/front-end.png}"
                    alt="Logo"
                    class="img-fluid"
                  />
                  <h3>Selamat Datang!</h3>
                  <p class="text-muted">Silahkan Daftar Akun Baru!</p>
                </div>
                <form id="registrationForm">
                  <div class="form-group mb-2">
                    <label for="name">Name</label>
                    <div class="input-group">
                      <span class="input-group-text bg-white">
                        <i class="fas fa-lock text-muted"></i>
                      </span>
                      <input
                        type="text"
                        id="name"
                        name="name"
                        class="form-control border-start-0"
                        placeholder="Enter your name"
                        required
                      />
                    </div>
                  </div>
                  <div class="form-group mb-4">
                    <label for="email">Email</label>
                    <div class="input-group">
                      <span class="input-group-text bg-white">
                        <i class="fas fa-lock text-muted"></i>
                      </span>
                      <input
                        type="email"
                        id="email"
                        name="email"
                        class="form-control border-start-0"
                        placeholder="Enter your email"
                        required
                      />
                    </div>
                  </div>
                  <div class="form-group mb-4">
                    <label for="telp">Telp</label>
                    <div class="input-group">
                      <span class="input-group-text bg-white">
                        <i class="fas fa-lock text-muted"></i>
                      </span>
                      <input
                        type="text"
                        id="telp"
                        name="telp"
                        class="form-control border-start-0"
                        placeholder="Enter your telp"
                        required
                      />
                    </div>
                  </div>
                  <div class="form-group mb-4">
                    <label for="username">Username</label>
                    <div class="input-group">
                      <span class="input-group-text bg-white">
                        <i class="fas fa-user text-muted"></i>
                      </span>
                      <input
                        type="text"
                        id="username"
                        name="username"
                        class="form-control border-start-0"
                        placeholder="Enter your username"
                        required
                      />
                    </div>
                  </div>
                  <div class="form-group mb-4">
                    <label for="password">Password</label>
                    <div class="input-group">
                      <span class="input-group-text bg-white">
                        <i class="fas fa-lock text-muted"></i>
                      </span>
                      <input
                        type="password"
                        id="password"
                        name="password"
                        class="form-control border-start-0"
                        placeholder="Enter your password"
                        required
                      />
                    </div>
                  </div>
                  <button type="submit" class="btn btn-login">
                    Daftar
                    <span
                      class="spinner-border spinner-border-sm d-none"
                      role="status"
                      aria-hidden="true"
                    ></span>
                  </button>
                  <div class="text-center">
                    <span class="text-muted">Sudah Punya akun ?</span>
                    <a
                      href="/login"
                      class="text-primary text-decoration-none ms-1"
                      >Masuk Disini</a
                    >
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div layout:fragment="js">
      <script>
        $(document).ready(function () {
          $("#registrationForm").on("submit", function (e) {
            e.preventDefault(); // Mencegah pengiriman form default

            const username = $("#username").val();
            const password = $("#password").val();
            const name = $("#name").val();
            const email = $("#email").val();
            const telp = $("#telp").val();

            $.ajax({
              url: "http://localhost:8082/api/registration", // Endpoint login
              type: "POST",
              contentType: "application/json",
              data: JSON.stringify({
                name: name,
                email: email,
                telp: telp,
                username: username,
                password: password,
              }),
              success: function (response) {
                console.log("berhasil");
                // localStorage.setItem('authToken', response.sessionId); // Simpan token sesi
                window.location.href = "/login"; // Arahkan ke halaman home
              },
              error: function (xhr) {
                const errorMessage = xhr.responseJSON
                  ? xhr.responseJSON.message
                  : "Registration failed";
                $("#error").text(errorMessage).show(); // Tampilkan pesan kesalahan
              },
            });
          });
        });
      </script>
    </div>
  </body>
</html>
